/* Scoped reset to affect only elements inside the widget container */
.myWidget-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styling for the widget container */
.myWidget-container {
  position: fixed;
  bottom: 10px;
  left: 10px; /* Positioning to the right for visual consistency */
  display: flex;
  align-items: center;
  border-radius: 4px 4px 4px 4px; /* Round top left and bottom left corners */
  z-index: 10001; /* Ensuring the container is above other elements */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
  justify-content: flex-start; /* Aligns children to the start of the container */

}

.myWidget-icon  {
  padding-right: 6px;
  width: 16px;
  height: 16px;
}

/* Style for the action button */
.myWidget-actionButton {
  padding: 10px 10px; /* Match padding for alignment */
  cursor: pointer;
  border: none;
  height: 40px;
  background: #007bff; /* Consistent background for all states */
  color: white;
  font-size: 14px;
  border-radius: 4px 0 0 4px; /* Round top left and bottom left corners */
  display: flex;
  align-items: center;
  justify-content: center; /* Center content */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for action button */
.myWidget-actionButton:hover {
  background: #0056b3; /* Darker shade on hover */
}

/* Style for the language button to appear connected to the action button */
.myWidget-languageButton {
  padding: 10px 10px; /* Match padding for alignment */
  cursor: pointer;
  border: none;
  height: 40px;
  background: #007bff; /* Match the action button background */
  border-radius: 0 4px 4px 0; /* Round top right and bottom right corners */
  margin-left: -1px; /* Overlap the border to create a "separator" effect */
  display: flex;
  align-items: center;
  justify-content: center; /* Center content */
  position: relative; /* Needed for absolute positioning the separator */
  box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.5); /* Faint line as separator */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for language button */
.myWidget-languageButton:hover {
  background: #0056b3; /* Darker shade on hover */
}

/* Style for the language icon */
.myWidget-languageIcon {
  width: 16px; /* Your desired size */
  height: 16px; /* Your desired size */
  filter: invert(1); /* Invert the color to white */
}

.myWidget-actionButtonText {
  flex-grow: 1; /* Allows the text to take up available space */
  text-align: left; /* Center the text */
  margin-right: 5px; /* Adjust this to the width of the language selector */
}


/* Style for visible language selector */
.myWidget-language-selector.visible {
  display: block;
  position: absolute;
  bottom: 100%; /* Position the selector above the container */
  left: 0px; /* Align with the left edge of the container */
  margin-bottom: 10px; /* Spacing between the selector and the container */
  margin-left: 90px; /* Adjust this to the width of the language selector */
  width: 80px;
  padding: 5px 5px;
  z-index: 10002; /* Above the buttons */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style for visible voice selector */
.myWidget-voice-selector.visible {
  display: block;
  position: absolute;
  bottom: 100%; /* Position the selector above the container */
  left: 0px; /* Align with the left edge of the container */
  margin-bottom: 10px; /* Spacing between the selector and the container */
  padding: 5px 5px;
  z-index: 10002; /* Above the buttons */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Hide the widget on mobile devices */
@media screen and (max-width: 768px) {
  .myWidget-container {
    display: none;
  }
}
/* Subtle Gradient for Buttons */
.myWidget-actionButton, .myWidget-languageButton {
  background: linear-gradient(to bottom, #0090ff 0%, #007bff 100%);
}

/* Hover effect for buttons */
.myWidget-actionButton:hover, .myWidget-languageButton:hover {
  background: linear-gradient(to bottom, #003d99 0%, #0056b3 100%);
}

/* Soft External Shadow for a Lifted Look */
.myWidget-actionButton, .myWidget-languageButton {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Subtle Inner Shadow for Depth */
.myWidget-actionButton, .myWidget-languageButton {
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2);
}

/* Maintain the Separator */
.myWidget-languageButton {
  box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.4); /* Adjusted to be more subtle */
}

/* Adjusted Padding for Action Button */
.myWidget-actionButton {
  padding-right: 5px;
}
